<!DOCTYPE html>
<html lang="en">

    {{>headerlinks}}

<body>
   {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header" >
        <div class="row">
           <div class="col-md-10 col-12 mx-auto">
               <div class="row">
                   <!-- left side div -->
                   <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                        <img src="Saved Pictures/img12.jpg" alt="Image unable to load" class="img-fluid" title="Holmes About">
                    </figure>
                 </div>
                   <div class="col-md-6 col-12 main_header_left">
                     <p>Hello Guys !!!  Welcome to HolmesWeather  😀</p>
                     <h2>I am <span class="text_clr">Sai Shubham Pasayat</span></h2>
                     <h1>I am a <span class="text_clr">Web-Dev Enthusiast</span> and a Competitive Programmer </h1>
                    </div>
                   <!-- right side div -->
                 
               </div>
           </div>
        </div>
    </div>
    <!-- footer code -->
   {{>footer}}
</body>
</html>